.container_data{
    position: relative;
    padding-left: 50px;
    left: 500px;
    bottom: 10px;
    background-color: white;
    height: 2000px;
    width: 1380px;
}
.round_data {
    position:absolute;
    margin-top: 20px;
    border-radius: 100px; 
    border: 2px solid rgb(82, 82, 82); 
    width: 85px;
    height: 85px;
    
   }
.user_name_data{
    left: 100px;
    font-weight: 550;
    position: relative;
    top: 50px;
    font-size: 25px;
    color:rgb(33, 33, 33);
    display: inline;
}
.user_title_data{
    top: 80px;
    right: 20px;
    position: relative;
    font-size: 21px;
    color:rgb(94, 94, 94);
    display: inline;
}
.activity_data{
    display: inline;
    position: relative; 
    font-size: 20px;
    padding-right: 10px;
    color:#262626;
    top: 130px;
    right: 180px;
}
.personal_data{
    position:relative;
    text-decoration: none;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 22px;
    top: 200px;
    right: 530px;
    color: #262626;
    border-bottom: 2px solid #ffffff;
}
.personal_data:hover{
   transition: 0.5s;
   border-bottom: 2px solid #262626;
}
/*My videos*/

.product-wrapper {
	display: block;
	width: 25%;
	float: left;
	transition: width .2s;
    padding-bottom: 20px;
}

 .product-item {
    width: 250px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
 }
 
 .product-item:hover {
    border-bottom: 2px solid #000000;
 }
 
 .product-list {
    background: #fafafa;
    padding: 15px 0;
 }
 .product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0px;
    text-align: left;
    padding-left: 5px;
 }
 .products{
     position: relative;
     top: 200px;
     right: 90px;
 }
 .my_video{
    position: relative;
   width: 250px; 
   height: 445px;
   border-radius: 5px;
}

