* {
    box-sizing: border-box;
 }
 .item {
    width: 500px;
    height: 750px;
    border: 1px solid rgba(0, 0, 0, .08);
    padding: 15px 0;
    margin: 0 auto;
    background: white;
 }
 .item a {
    text-decoration: none;
    outline: 0;
 }
 .product {
    padding: 0 15px;
    position: relative;
 }
 .thumb-img {
    position: relative;
    overflow: hidden;
 }
 .thumb-img img {
    width: 100%;
    display: block;
 }
 .thumb-img:after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .3s ease-in-out;
 }
 .product:hover .thumb-img:after {
    opacity: 1;
 }
 .actions {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0 15px;
    left: 140px;
    opacity: 0;
    transition: .3s ease-in-out;
 }
 .product:hover .actions {
    top: 50%;
    opacity: 1;
 }
 .actions a {
    margin: 7px 6px;
    color: white;
    height: 30px;
    line-height: 26px;
    display: inline-block;
    border-radius: 30px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid white;
    background: transparent;
    transition: .3s ease-in-out;
 }
 .share-button {
    width: 30px;
 }
 .add-to-cart:hover {
     
    background: #A2927F;
 }
 .actions a:hover {
    border-color: rgb(158, 71, 71);
    background: rgb(158, 71, 71);
 }
 .share-wrap {
    display: inline-block;
    height: 30px;
    position: relative;
    margin: 7px 6px;
 }
 .share-item {
    width: 200px;
    margin-left: -100px;
    position: absolute;
    z-index: 3;
    bottom: 38px;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: .3s ease-in-out;
 }
 .share-wrap:hover .share-item {
    opacity: 1;
    visibility: visible;
 }
 .add-to-cart {
    padding: 0 20px;
    position: relative;
    right:25px;
 }
 .product-about {
    padding: 20px 0 0;
    text-align: center;
 }
 .product-title {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.1;
    font-size: 16px;
    margin: 5px 0 15px;
    font-weight: normal;
 }
 .product-title a {
    color: #373737;
 }
 .price {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(158, 71, 71);
    position: absolute;
    left: 265px;
    bottom: 55px;
 }
 .video{
     position: relative;
    left: 60px;
    width: 340px; 
    height: 600px;
    border-radius: 20px;
}

.round_user {
    border-radius: 100px; 
    border: 2px solid rgb(82, 82, 82); 
    width: 50px;
    height: 50px;
    position: relative;
    right: 210px;
   }
   .name_user{
       font-size: 20px;
       position: absolute;
       bottom: 35px;
       left: 80px;
       font-weight: bold;
   }
   .description{
       position: relative;
       margin-right: 100px ;
       color:#5e5e5e;
       bottom:20px;
   }